{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Community Connect</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Search engine optimisation -->
        <meta name="description" content="Automate Community Management/Mailing">
        <meta name="keywords" content="Community Connect, Community, Mails, Management, Automatic, Automation">
        <meta name="author" content="ALiAS">
        <!-- UI Customization -->
            <!-- Browser tab theme color for Chrome on Android -->
            <meta name="theme-color" content="#ff7043">
            <link href="{% static 'images/favicon.png' %}" rel="shortcut icon">
            <!-- Browser tab theme color for Chrome on Android IOS -->
            <link href="{% static 'images/favicon.png' %}" rel="apple-touch-icon">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-status-bar-style" content="#ff7043">
            <meta name="apple-mobile-web-app-title" content="ALiAS">
            <!-- Browser tab theme color for Chrome on Windows -->
            <meta name="msapplication-TileImage" content="{% static 'images/favicon.png' %}">
            <meta name="msapplication-TileColor" content="#ff7043">
        <!-- Font Awesome Icons -->
        <script async src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js"></script>
        <script async src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"></script>
        <script async src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"></script>
        <!-- Application Manifest -->
        <link rel="manifest" href="./manifest.json">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <!-- Custom Styles -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        {% include 'components/_header.html' %}
        {% block content %}
        {% endblock %}
        {% include 'components/_footer.html' %}
    <!-- Page Scripts -->
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
        <script>
            var elem = document.querySelector('.sidenav');
            var instance = M.Sidenav.init(elem);
        </script>
    </body>
</html>
