<!-- including the _base.html templates -->
{% extends 'components/_base.html' %}
{%block title%}Password Changed{%endblock%}
{%block content%}
<h1>Password Changed</h1>
<p>Your password has been successfully changed</p>
{%endblock%}
